language: python
python: 3.7

env:
  - SALMON_NO_AUTH=1

services:
  - docker

before_install:
  - docker-compose up &
  - until curl 127.0.0.1:8421 > /dev/null 2>&1; do :; done  # wait for container to start
  - docker ps

script:
  - set -e
  - pip install -r requirements.txt
  - pytest tests
  - cd docs
  - make html
  - cd ..

before_deploy:
  - pip install doctr
  - doctr deploy --built-docs docs/_build/html .

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUBTOKEN  # Set in the settings page of your repository, as a secure variable
  target_branch: gh-pages
  keep_history: true
  on:
    branch: master
