fastapi[all]
uvicorn
jinja2
pandas
redis
rejson
httpx
pytest
aiofiles
altair
matplotlib
joblib
scikit-learn
gunicorn
starlette-prometheus
bokeh==2.0.1
cloudpickle
sphinx
numpydoc
sphinx_rtd_theme
torch
skorch
distributed
numba
