[Unit]
Description=Salmon service

[Service]
ExecStart=/usr/bin/sudo /bin/bash /home/ubuntu/salmon/ami/salmon.sh

[Install]
WantedBy=multi-user.target
