<!doctype html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<title>Salmon</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/root.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/github.css') }}">
<style>
.error {
    color: red;
}
</style>
</head>
<body>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.0.1.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.0.1.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.0.1.min.js"
        crossorigin="anonymous"></script>


<br>
<div class="container">
  <div class="outline justify-content-center">
    <div class="row justify-content-center">
      <h3>Basic info</h3>
    </div>
    <div class="row justify-content-center">
      <ul>
        <li>Start time: {{ start }} UTC </li>
        <li>Number of responses: {{num_responses }}</li>
        <li>Number of participants: {{ num_participants }}</li>
        <li>Experiment config (partial):
          <ul>
            <li>Number of targets: {{config["n"]}}</li>
            <li>Embedding dimension: {{config["d"]}}</li>
            <li>Samplers: {{samplers}}</li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="row justify-content-center">
      <h3>Activity</h3>
    </div>
    <br>
    <div class="row justify-content-center">
      <ul class="nav nav-tabs" id="responseTimingTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="coarse-timings-tab" data-toggle="tab" href="#coarse-timings" role="tab" aria-controls="coarse-timings" aria-selected="true">
              Count
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="fine-timings-tab" data-toggle="tab" href="#fine-timings" role="tab" aria-controls="fine-timings" aria-selected="false">
          Rate
          </a>
        </li>
      </ul>
    </div>
    <div class="row justify-content-center">
      <div class="tab-content" id="coarseTimingTabContent">
        <div class="tab-pane fade show active"
             id="coarse-timings"
             role="tabpanel"
             aria-labelledby="coarse-timings-tab"
        >
          <script>
            plot = JSON.parse({{ activity | tojson }});
            Bokeh.embed.embed_item(plot, "coarse-timings");
          </script>
        </div>
        <div class="tab-pane fade"
              id="fine-timings"
              role="tabpanel"
              aria-labelledby="fine-timings-tab"
        >
          <script>
            plot = JSON.parse({{ response_rate | tojson }});
            Bokeh.embed.embed_item(plot, "fine-timings");
          </script>
        </div>
      </div>
    </div>
    <br>
    <div class="row justify-content-center">
      <h3>Downloads</h3>
    </div>
    <div class="row col-lg-10 offset-lg-3">
      <ul>
        <li>Responses:
            <b><a href="/responses?json=0">CSV</a></b>,&nbsp;
          <a href="/responses?json=1">JSON</a>&nbsp;
          (<a href="/docs#/private/get_responses_responses_get">docs</a>)
        </li>
        <li>Embeddings:
            <b><a href="/embeddings?json=0">CSV</a></b>,&nbsp;
          <a href="/embeddings?json=1">JSON</a>&nbsp;
          (<a href="/docs#/private/get_embeddings_embeddings_get">docs</a>)
        </li>
        <li>Experiment config:
            <b><a href="/config?json=0">YAML</a></b>,
            <a href="/config">JSON</a>,
            (<a href="/docs#/private/get_config_config_get">docs</a>)
        </li>
        <li>
            <b><a href="/download">Full experiment</a></b>, which can be
            uploaded to a new machine (<a href="/docs#/private/download_download_get">docs</a>)
        </li>
      </ul>
    </div>
    <div class="row justify-content-center">
      <h3>Useful links</h3>
    </div>
    <div class="row col-lg-10 offset-lg-3">
      <ul>
          <li><b><a href="/">Query page</a></b>, the interface users will see.</li>
        <li>
          <a href="/logs">Logs</a>, which are useful for debugging&nbsp;
          (<a href="/docs#/private/get_logs_logs_get">docs</a>)
        </li>
        <li><a href="/docs">Complete API documentation</a>, which is useful for debugging.</li>
      </ul>
    </div>
    <div class="row justify-content-center">
    </div>
    <div class="row justify-content-center">
      <h3>Server-side timing</h3>
    </div>
    <br>
    <div class="row col-lg-8 offset-lg-3">
      <p>Here's the computation time required to complete each of the API endpoints on this machine:</p>
    </div>
    <br>
    <div class="row justify-content-center">
      <ul class="nav nav-tabs" id="timingTab" role="tablist">
        {% for endpoint in endpoints %}
          <li class="nav-item">
              <a class="nav-link {% if loop.first %}active{% endif %}" id="{{endpoint}}-tab" data-toggle="tab" href="#{{endpoint}}" role="tab" aria-controls="{{endpoint}}" aria-selected={% if loop.first %}"true"{% else %}"false"{% endif %}>
              {{endpoint}}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
    <br>
    <div class="row justify-content-center">
        <div class="tab-content" id="timingTabContent">
          {% for endpoint in endpoints %}
          <div class="tab-pane fade {% if loop.first %}show active{% endif %}"
                id="{{ endpoint }}"
                role="tabpanel"
                aria-labelledby="{{endpoint}}-tab"
            >
              <script>
              plot = JSON.parse({{ endpoint_timings[endpoint] | tojson }});
              Bokeh.embed.embed_item(plot, "{{ endpoint }}");
              </script>
          </div>
          {% endfor %}
        </div>
    </div>
    <br>
    <div class="row justify-content-center">
      <p>The median delay between responses is {{median_response_delay}} seconds.</p>
    </div>
    <div class="row justify-content-center">
        <p>The average response rate over a {{rate_window}} second window is
        {{rate_mean}} responses/sec<br>(windows that didn't receive a response
        are ignored).</p>
    </div>
    <div class="row justify-content-center">
      <div id="gapsHist"> </div>
      <script>
        plot = JSON.parse({{ gaps_histogram | tojson }});
        Bokeh.embed.embed_item(plot, "gapsHist");
      </script>

      <div id="responseCDF"> </div>
      <script>
        plot = JSON.parse({{ response_rate_cdf | tojson }});
        Bokeh.embed.embed_item(plot, "responseCDF");
      </script>
    </div>
    <br>
    <div class="row justify-content-center">
        <p>
        <a href="/" onclick="javascript:event.target.port=7381">
            Redis live monitoring</a>.
        </p>
    </div>
    <br><br>
    <div class="row justify-content-center">
      <h3>Client-side timing</h3>
    </div>
    <br>
    <div class="row justify-content-center">
      <span id="responses"></span>
      <span id="network-latency"></span>
      <script>
      plot = JSON.parse({{ response_times | tojson }});
      Bokeh.embed.embed_item(plot, "responses");
      plot = JSON.parse({{ network_latency | tojson }});
      Bokeh.embed.embed_item(plot, "network-latency");
      </script>
    </div>
    <div class="row col-lg-8 offset-lg-3">
      <p>These times are recorded client-side and reported back to Salmon.</p>
    </div>
    <div class="row justify-content-center">
      <h2>Sampler performance</h2>
    </div>
    <div class="row justify-content-center">
      <p style="width: 600px;">
      For both graphs below, each dot represents the median over 2 minutes of
      model updates. More complete data is available at
      <code>[url]:8400/meta/perf/[alg_name]</code>
      </p>
    </div>
    <div class="row justify-content-center">
      <h3>Task timings</h3>
    </div>
    <div class="row justify-content-center">
      <ul class="nav nav-tabs" id="myTab3" role="tablist">
        {% for alg in alg_perfs %}
          <li class="nav-item">
              <a class="nav-link {% if loop.first %}active{% endif %}"
                 id="{{alg}}-tab"
                 data-toggle="tab"
                 href="#{{alg}}-perf"
                 role="tab"
                 aria-controls="{{alg}}"
                 aria-selected={% if loop.first %}"true"{% else %}"false"{% endif %}
              >
              {{alg}}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="row justify-content-center">
      <div class="tab-content" id="myTabContent2">
        {% for alg, jsonplot in alg_perfs.items() %}
          <div class="tab-pane fade {% if loop.first %}show active{% endif %}"
                id="{{ alg }}-perf"
                role="tabpanel"
                aria-labelledby="alg-perf-{{alg}}">
          <script>
          plot = JSON.parse({{ jsonplot | tojson }});
          Bokeh.embed.embed_item(plot, "{{ alg }}-perf");
          </script>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="row justify-content-center">
      <p style="width: 600px;">
        Searching queries, posting queries and model updates are performed in
        parallel on three workers. Each worker has one task. However, the three
        workers are shared between all active algorithms.
      </p>
    </div>
    <br>
    <div class="row justify-content-center">
      <h3>Queries</h3>
    </div>
    <div class="row justify-content-center">
      <ul class="nav nav-tabs" id="myTab4" role="tablist">
        {% for alg in query_db_perfs %}
          <li class="nav-item">
              <a class="nav-link {% if loop.first %}active{% endif %}"
                 id="{{alg}}-query-tab"
                 data-toggle="tab"
                 href="#{{alg}}-query-perf"
                 role="tab"
                 aria-controls="{{alg}}-query"
                 aria-selected={% if loop.first %}"true"{% else %}"false"{% endif %}
              >
              {{alg}}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="row justify-content-center">
        <div class="tab-content" id="myTabContent2">
          {% for alg, jsonplot in query_db_perfs.items() %}
            <div class="tab-pane fade {% if loop.first %}show active{% endif %}"
                  id="{{ alg }}-query-perf"
                  role="tabpanel"
                  aria-labelledby="{{alg}}-query-perf">
            <script>
            plot = JSON.parse({{ jsonplot | tojson }});
            Bokeh.embed.embed_item(plot, "{{ alg }}-query-perf");
            </script>
            </div>
          {% endfor %}
        </div>
    </div>
    <div class="row justify-content-center">
      <p style="width: 600px;">
      The number of the queries in the database for each algorithm is limited
      to the number of possible queries, <tt>n*(n-1)*(n-2) / 2</tt>.
      </p>
      <p style="width: 600px;">
      Also, algorithm <tt>ARR</tt> posts <tt>3*n</tt> of the highest scoring
      queries to the database by default when <tt>n</tt> is the number of
      targets. The label "scored_(complete)" records this value.
      </p>
    </div>
    <div class="row justify-content-center">
      <h2>Embeddings</h2>
    </div>
    <div class="row justify-content-center">
      <ul class="nav nav-tabs" id="myTab2" role="tablist">
        {% for alg in alg_model_plots %}
          <li class="nav-item">
              <a class="nav-link {% if loop.first %}active{% endif %}" id="{{alg}}-embedding-tab" data-toggle="tab" href="#{{alg}}" role="tab" aria-controls="{{alg}}-embedding" aria-selected={% if loop.first %}"true"{% else %}"false"{% endif %}>
              {{alg}}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="row justify-content-center">
        <div class="tab-content" id="myTabContent2">
          {% for alg, jsonplot in alg_model_plots.items() %}
            <div class="tab-pane fade {% if loop.first %}show active{% endif %}"
                  id="{{ alg }}"
                  role="tabpanel"
                  aria-labelledby="embed-{{alg}}">
            <script>
            plot = JSON.parse({{ jsonplot | tojson }});
            Bokeh.embed.embed_item(plot, "{{ alg }}");
            </script>
            </div>
          {% endfor %}
        </div>
    </div>
    <div class="row justify-content-center">
      <div class="row justify-content-center">
        <h2>Targets</h2>
      </div>
    </div>
    <div class="row justify-content-center markdown-body">
      <table style="max-width:80%; align: center;">
      <tr>
          <th><b>Target item</b></th>
          <th><b>Rendered HTML</b></th>
          <th><b>Filename/URL/Raw HTML</b></th>
      </tr>
      {% for target in targets %}
      <tr>
        <td>{{ loop.index0 }}</td>
        <td>{{ target | safe }}</td>
        <td>{{ filenames[loop.index0] }}</td>
      </tr>
      {% endfor %}
      </table>
    </div>
  </div>
</div>
</body>

</html>
