<!doctype html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<title>Salmon</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/root.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/github.css') }}">
<style>
.error {
    color: red;
}
</style>
</head>
<body>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.0.1.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.0.1.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.0.1.min.js"
        crossorigin="anonymous"></script>


<br>
<div class="container">
  <div class="outline justify-content-center">
    <div class="row justify-content-center">
      <div id="activity-plot"></div>
      <script>
      plot = JSON.parse({{ activity | tojson }});
      Bokeh.embed.embed_item(plot, "activity-plot");
      </script>
    </div>
    <br>
    <div class="row justify-content-center">
      <h3>Basic information</h3>
    </div>
    <div class="row justify-content-center">
      <ul>
        <li>Start time: {{ start }} UTC </li>
        <li>Number of responses: {{num_responses }}</li>
        <li>Number of participants: {{ num_participants }}</li>
        <li><a href="/">Query page</a></li>
        <li>
          <a href="/responses">Responses</a>&nbsp;
          (<a href="/docs#/private/get_responses_responses_get">docs</a>)
        </li>
        <li>
          <a href="/download">Download experiment</a>&nbsp;
          (<a href="/docs#/private/download_download_get">docs</a>)
        </li>
        <li>
          <a href="/logs">Logs</a>&nbsp;
          (<a href="/docs#/private/get_logs_logs_get">docs</a>)
        </li>
        <li><a href="/docs">Complete API Documentation</a></li>
      </ul>
    </div>
    <div class="row justify-content-center">
    </div>
    <div class="row justify-content-center">
      <h3>Server-side timing</h3>
    </div>
    <br>
    <div class="row justify-content-center">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        {% for endpoint in endpoints %}
          <li class="nav-item">
              <a class="nav-link {% if loop.first %}active{% endif %}" id="{{endpoint}}-tab" data-toggle="tab" href="#{{endpoint}}" role="tab" aria-controls="{{endpoint}}" aria-selected={% if loop.first %}"true"{% else %}"false"{% endif %}>
              {{endpoint}}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="row justify-content-center">
        <div class="tab-content" id="myTabContent">
          {% for endpoint in endpoints %}
          <div class="tab-pane fade {% if loop.first %}show active{% endif %}"
                id="{{ endpoint }}"
                role="tabpanel"
                aria-labelledby="{{endpoint}}-tab"
            >
              <script>
              plot = JSON.parse({{ endpoint_timings[endpoint] | tojson }});
              Bokeh.embed.embed_item(plot, "{{ endpoint }}");
              </script>
          </div>
          {% endfor %}
        </div>
    </div>
    <br>
    <div class="row justify-content-center">
      <p>This shows the computation time required to complete each of the API endpoints on this machine.</p>
    </div>
    <br>
    <div class="row justify-content-center">
        <p>
        <a href="/" onclick="javascript:event.target.port=7381">
            Redis live monitoring</a>.
        </p>
    </div>
    <br><br>
    <div class="row justify-content-center">
      <h3>Client-side timing</h3>
    </div>
    <br>
    <div class="row justify-content-center">
      <span id="responses"></span>
      <span id="network-latency"></span>
      <script>
      plot = JSON.parse({{ response_times | tojson }});
      Bokeh.embed.embed_item(plot, "responses");
      plot = JSON.parse({{ network_latency | tojson }});
      Bokeh.embed.embed_item(plot, "network-latency");
      </script>
    </div>
    <div class="row justify-content-center">
      <div class="row justify-content-center">
        <h2>Targets</h2>
      </div>
    </div>
    <div class="row justify-content-center markdown-body">
      <table style="max-width:80%; align: center;">
      <tr>
          <th><b>Target item</b></th>
          <th><b>Rendered HTML</b></th>
          <th><b>Filename/URL/Raw HTML</b></th>
      </tr>
      {% for target in targets %}
      <tr>
        <td>{{ loop.index0 }}</td>
        <td>{{ target | safe }}</td>
        <td>{{ filenames[loop.index0] }}</td>
      </tr>
      {% endfor %}
      </table>
    </div>
  </div>
</div>
</body>

</html>
